@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import './css/_header.css';
@import './css/_welcom.css';
@import './css/_skills.css';
@import './css/_project.css';
@import './css/_footer.css';
@import './css/_nav.css';

html {
    scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
    
    margin: 0 60px;
    background-color: rgba(170, 170, 170, 0.219);
    color: rgb(26, 26, 26);

    @media (max-width:768px) {
        margin: 10px;
        /* min-width: 768px; */
        
    }
    
}

a {
    text-decoration: none; 
    outline: none; 
    
}


/* @media (max-width: 650px) {
    body {
      width: 100%;
   

      min-width: 649px;
    }

  } */











